In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Read the CSV file
df = pd.read_csv("Occupancy_Estimation.csv")

# Display the first few rows of the DataFrame
df.head()

,Date,Time,S1_Temp,S2_Temp,S3_Temp,S4_Temp,S1_Light,S2_Light,S3_Light,S4_Light,S1_Sound,S2_Sound,S3_Sound,S4_Sound,S5_CO2,S5_CO2_Slope,S6_PIR,S7_PIR,Room_Occupancy_Count
0,2017/12/22,10:49:41,24.94,24.75,24.56,25.38,121,34,53,40,0.08,0.19,0.06,0.06,390,0.769231,0,0,1
1,2017/12/22,10:50:12,24.94,24.75,24.56,25.44,121,33,53,40,0.93,0.05,0.06,0.06,390,0.646154,0,0,1
2,2017/12/22,10:50:42,25.00,24.75,24.50,25.44,121,34,53,40,0.43,0.11,0.08,0.06,390,0.519231,0,0,1
3,2017/12/22,10:51:13,25.00,24.75,24.56,25.44,121,34,53,40,0.41,0.10,0.10,0.09,390,0.388462,0,0,1
4,2017/12/22,10:51:44,25.00,24.75,24.56,25.44,121,34,54,40,0.18,0.06,0.06,0.06,390,0.253846,0,0,1

In [4]:
len(df)

10129

In [5]:
df.describe()

,S1_Temp,S2_Temp,S3_Temp,S4_Temp,S1_Light,S2_Light,S3_Light,S4_Light,S1_Sound,S2_Sound,S3_Sound,S4_Sound,S5_CO2,S5_CO2_Slope,S6_PIR,S7_PIR,Room_Occupancy_Count
count,10129.000000,10129.000000,10129.000000,10129.000000,10129.000000,10129.00000,10129.000000,10129.000000,10129.000000,10129.000000,10129.000000,10129.000000,10129.000000,10129.000000,10129.000000,10129.000000,10129.000000
mean,25.454012,25.546059,25.056621,25.754125,25.445059,26.01629,34.248494,13.220259,0.168178,0.120066,0.158119,0.103840,460.860401,-0.004830,0.090137,0.079574,0.398559
std,0.351351,0.586325,0.427283,0.356434,51.011264,67.30417,58.400744,19.602219,0.316709,0.266503,0.413637,0.120683,199.964940,1.164990,0.286392,0.270645,0.893633
min,24.940000,24.750000,24.440000,24.940000,0.000000,0.00000,0.000000,0.000000,0.060000,0.040000,0.040000,0.050000,345.000000,-6.296154,0.000000,0.000000,0.000000
25%,25.190000,25.190000,24.690000,25.440000,0.000000,0.00000,0.000000,0.000000,0.070000,0.050000,0.060000,0.060000,355.000000,-0.046154,0.000000,0.000000,0.000000
50%,25.380000,25.380000,24.940000,25.750000,0.000000,0.00000,0.000000,0.000000,0.080000,0.050000,0.060000,0.080000,360.000000,0.000000,0.000000,0.000000,0.000000
75%,25.630000,25.630000,25.380000,26.000000,12.000000,14.00000,50.000000,22.000000,0.080000,0.060000,0.070000,0.100000,465.000000,0.000000,0.000000,0.000000,0.000000
max,26.380000,29.000000,26.190000,26.560000,165.000000,258.00000,280.000000,74.000000,3.880000,3.440000,3.670000,3.400000,1270.000000,8.980769,1.000000,1.000000,3.000000

In [6]:
# Convert the date and time column to datetime
df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

# Display the updated DataFrame
df.head()

,Date,Time,S1_Temp,S2_Temp,S3_Temp,S4_Temp,S1_Light,S2_Light,S3_Light,S4_Light,S1_Sound,S2_Sound,S3_Sound,S4_Sound,S5_CO2,S5_CO2_Slope,S6_PIR,S7_PIR,Room_Occupancy_Count,Datetime
0,2017/12/22,10:49:41,24.94,24.75,24.56,25.38,121,34,53,40,0.08,0.19,0.06,0.06,390,0.769231,0,0,1,2017-12-22 10:49:41
1,2017/12/22,10:50:12,24.94,24.75,24.56,25.44,121,33,53,40,0.93,0.05,0.06,0.06,390,0.646154,0,0,1,2017-12-22 10:50:12
2,2017/12/22,10:50:42,25.00,24.75,24.50,25.44,121,34,53,40,0.43,0.11,0.08,0.06,390,0.519231,0,0,1,2017-12-22 10:50:42
3,2017/12/22,10:51:13,25.00,24.75,24.56,25.44,121,34,53,40,0.41,0.10,0.10,0.09,390,0.388462,0,0,1,2017-12-22 10:51:13
4,2017/12/22,10:51:44,25.00,24.75,24.56,25.44,121,34,54,40,0.18,0.06,0.06,0.06,390,0.253846,0,0,1,2017-12-22 10:51:44

# Exploratory Analysis

In [ ]:
df['Room_Occupancy_Count'].value_counts().plot(kind='bar')
plt.xlabel('Occupancy Count')
plt.ylabel('Frequency')
plt.title('Frequency of Room Occupancy Count')
plt.show()

In [ ]:
min(df["Datetime"])

In [ ]:
max(df["Datetime"])

In [ ]:
# Plot the selected columns
df.plot(x='Datetime', y=['Room_Occupancy_Count'], kind='line')

# Set the x-axis label
plt.xlabel('Datetime')

# Set the y-axis label
plt.ylabel('Occupancy')
plt.title('Datetime vs. Room Occupancy')
# Show the plot
plt.show()

In [ ]:
plt.figure(figsize=(8, 2))
plt.scatter(df['Datetime'], [1] * len(df['Datetime']), marker='|')
plt.xlabel('Datetime')
plt.title('Existence of Data Points')
plt.yticks([])
plt.show()

In [ ]:

# Plot the selected columns
df.plot(x='Datetime', y=['S1_Temp'], kind='line')

# Set the x-axis label
plt.xlabel('Datetime')

# Set the y-axis label
plt.ylabel('Temperature')
plt.title('Datetime vs. S1_Temp')
# Show the plot
plt.show()

In [ ]:
# Select columns ending in '_Temp'
temp_columns = [col for col in df.columns if col.endswith('_Temp')]

# Plot the selected columns
df.plot(x='Datetime', y=temp_columns, kind='line')

# Set the x-axis label
plt.xlabel('Datetime')

# Set the y-axis label
plt.ylabel('Temperature')
plt.title('Datetime vs. All Temperature Sensors')
# Show the plot
plt.show()

In [ ]:
# Select columns ending in '_Light'
light_columns = [col for col in df.columns if col.endswith('_Light')]

# Plot the selected columns
df.plot(x='Datetime', y=light_columns, kind='line')

# Set the x-axis label
plt.xlabel('Datetime')

# Set the y-axis label
plt.ylabel('Light')
plt.title('Datetime vs. All Light Sensors')
# Show the plot
plt.show()

In [ ]:
# Plot the selected columns
df.plot(x='Datetime', y=['S1_Sound'], kind='line')

# Set the x-axis label
plt.xlabel('Datetime')

# Set the y-axis label
plt.ylabel('Temperature')
plt.title('Datetime vs. S1_Sound')
# Show the plot
plt.show()

In [ ]:
# Select columns ending in '_Sound'
sound_columns = [col for col in df.columns if col.endswith('_Sound')]

# Plot the selected columns
df.plot(x='Datetime', y=sound_columns, kind='line')

# Set the x-axis label
plt.xlabel('Datetime')

# Set the y-axis label
plt.ylabel('Sound')
plt.title('Datetime vs. All Sound Sensors')
# Show the plot
plt.show()

In [ ]:
# Filter the DataFrame based on the date range
filtered_df = df[(df['Datetime'] >= '2017-12-23') & (df['Datetime'] <= '2017-12-27')]

# Create a new y-axis for Room_Occupancy_Count
ax2 = filtered_df['Room_Occupancy_Count'].plot(secondary_y=True, color='red')

# Plot the selected columns
filtered_df.plot(x='Datetime', y='S1_Sound', kind='line', ax=ax2)

# Set the x-axis label
plt.xlabel('Datetime')

# Set the y-axis labels
plt.ylabel('Sound')
ax2.set_ylabel('Room_Occupancy_Count')
plt.title('Room Occupancy Count Correlation to S1_Sound')
# Show the plot
plt.show()

In [ ]:
# Get the column names of the dataframe
filtered_df = df[(df['Datetime'] <= '2017-12-25')]
df = filtered_df
columns = df.columns

# Remove the 'Datetime' and 'Room_Occupancy_Count' columns from the list
columns = [col for col in columns if col not in ['Datetime', 'Room_Occupancy_Count', 'Date', 'Time']]

# Calculate the number of rows and columns for the grid
num_rows = len(columns)
num_cols = 1

# Create a new figure and subplots
fig, axs = plt.subplots(num_rows, num_cols, figsize=(20, 50))

# Flatten the axs array to make it easier to iterate over
axs = axs.flatten()

# Iterate over the columns and plot each one with the Room_Occupancy_Count overlayed
for i, col in enumerate(columns):
    # Plot the column
    axs[i].plot(df['Datetime'], df[col], label=col)
    
    # Plot the Room_Occupancy_Count column overlayed
    axs[i].twinx().plot(df['Datetime'], df['Room_Occupancy_Count'], label='Room_Occupancy_Count', color='red')

    
    # Set the x-axis label
    axs[i].set_xlabel('Datetime')
    
    # Set the y-axis label
    axs[i].set_ylabel(col)
    
    # Set the title
    axs[i].set_title(f'{col} with Room_Occupancy_Count')
    
    # Add a legend
    axs[i].legend()
    
# Adjust the spacing between subplots
plt.tight_layout()

# Show the plot
plt.show()